        * {
            padding: 0px;
            margin: 0px;
            box-sizing: border-box;
            font-family: 'Roboto', sans-serif;
        }
        /* Estilização do cabeçalho */
        
        main {
            width: 100%;
        }
        
        body {
            width: 100%;
        }
        
        footer {
            width: 100%;
        }
        
        .header {
            display: flex;
            padding: 15px;
            background-color: #653f2a;
            justify-content: space-between;
            align-items: center;
        }
        
        .header nav ul {
            display: flex;
            list-style: none;
        }
        
        .header nav ul li {
            margin-right: 20px;
            cursor: pointer;
        }
        
        .header nav ul li a {
            text-decoration: none;
            color: #fff;
            font-weight: 800;
            font-size: 16px;
            text-shadow: 1px 1px #000;
        }
        
        .logo img {
            width: 100px;
        }
        
        .logo p {
            color: #fff;
            text-align: center;
            font-size: 25px;
            font-weight: 800;
        }
        /* Versão mobile */
        /* Header */
        
        @media (max-width: 768px) {
            .header {
                width: 100%;
            }
            .header nav {
                display: none;
            }
        }
        /* Estilização da sessão Quem Somos */
        
        .section-quem-somos {
            background-color: rgb(253, 251, 251);
            padding: 0 50px;
        }
        
        .container-paragrafo p {
            color: rgb(59, 59, 59);
        }
        
        .section-quem-somos p:first-child {
            font-size: 32px;
            color: #4b4b4b;
            padding: 10px;
            font-family: 'Anton', sans-serif;
        }
        
        .section-quem-somos .conatiner-sobre-nos {
            align-items: center;
            display: flex;
            height: 100vh;
            padding-top: 50px;
        }
        
        .section-quem-somos img {
            padding: 10px;
            max-width: 550px;
            border-radius: 5%;
            margin: 10px 10px;
        }
        
        .container-paragrafo {
            background-color: rgb(238, 234, 234);
            width: 0.7;
            height: 50%;
            text-align: center;
            border-radius: 5px;
            margin: 0 30px;
        }
        /* Estilização da sessão home*/
        
        .section-home {
            background: url("./img/back1.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            width: 100%;
        }
        
        .section-title {
            color: #aeae68;
            font-size: 32px;
        }
        
        .icone img {
            width: 100%;
            height: 50%;
        }
        
        .icone p {
            color: white;
        }
        
        .redes-sociais-container ul {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .redes-sociais-container img {
            height: 50px;
        }