* {
  scroll-behavior: smooth;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Estilização do cabeçalho */

.header {
  display: flex;
  padding: 15px;
  background-color: #740303;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  right: 0;
  z-index: 1;
  left: 0;
  width: 100%;
}

.header nav ul {
  display: flex;
  list-style: none;
}

.header nav ul li {
  margin-right: 20px;
  cursor: pointer;
}

.header nav ul li a:hover {
  opacity: 0.8;
  background-color: rgba(101, 63, 42 0.4);
  padding: 8px 0px;
}

.header nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 800;
  font-size: 16px;
  text-shadow: 1px 1px #000;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo img {
  width: 100px;
}

.logo p {
  color: #fff;
  text-align: center;
  font-size: 25px;
  font-weight: 800;
}

.header button {
  display: none;
}

main {
  width: 100%;
}

body {
  width: 100%;
}

footer {
  width: 100%;
}

/* Versão mobile */

/* Header */

@media (max-width: 768px) {
  .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: normal;
    padding: 5px 0px 0px 0px;
  }
  .header nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .header ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: flex-end;
    background-color: rgb(184, 155, 139);
    width: 100%;
    margin: 0px;
  }
  .header nav ul li {
    margin-right: 15px;
  }
  .header li {
    padding: 10px;
  }
  .header li:hover {
    opacity: 0.5;
    /* background-color: rgba(101, 63, 42 0.4); */
  }
  .header button {
    display: flex;
    font-size: 28px;
    padding: 7px;
    background-color: #653f2a;
    color: #fff;
    border: none;
  }
  .logo {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
}

/* Estilização da sessão Quem Somos */

.section-quem-somos {
  background-color: rgb(253, 251, 251);
  padding: 0 60px;
}

.container-paragrafo p {
  margin-top: 10px;
  color: rgb(59, 59, 59);
}

.section-quem-somos p:first-child {
  font-size: 32px;
  color: #4b4b4b;
  padding: 10px;
  font-family: "Anton", sans-serif;
}

.section-quem-somos .conatiner-sobre-nos {
  align-items: center;
  display: flex;
  height: 100vh;
  padding-top: 50px;
}

.section-quem-somos img {
  padding: 10px;
  max-width: 550px;
  border-radius: 5%;
  margin: 10px 10px;
}

.container-paragrafo {
  background-color: rgb(238, 234, 234);
  width: 0.7;
  height: 50%;
  text-align: center;
  border-radius: 5px;
  margin: 0 30px;
}

/* Estilização da sessão home*/

h1 {
  color: #740303;
  font-size: 64px;
  font-family: "Anton", sans-serif;
}

.section-home {
  background: url("./img/60e779e448c17.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.section-title {
  box-shadow: 0px 2px 0px rgb(155, 153, 153);
  color: #4b4b4b;
  font-size: 32px;
  text-align: center;
  font-family: "Anton", sans-serif;
  margin: 50px 0px;
}

.container-border {
  box-shadow: 1px 1px 1px 1px rgb(0, 0, 0);
  height: 300px;
  max-width: 500px;
  text-align: center;
  padding: 10px 20px;
}

.icone img {
  width: 100%;
  height: 50%;
}

.icone p {
  color: rgb(173, 65, 65);
  font-size: 1.3em;
}

/* Estilização da seção promoções */

.section-promocoes {
  background-color: #ebeaee;
  min-height: 100vh;
  width: 100%;
  padding: 30px;
}

.container-promocoes ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style: none;
}

.container-promocoes li {
  max-width: 400px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-promocoes h2 {
  margin-bottom: 30px;
}

.container-promocoes .img-comprar {
  width: 250px;
  height: 200px;
  border-radius: 10px;
  box-shadow: #000 3px 3px 3px;
  transition: transform 200ms ease;
}

.container-promocoes li:hover .img-comprar {
  transform: scale(1.1);
}

.container-promocoes button {
  margin-top: 30px;
  padding: 15px 30px;
  border-radius: 5px;
  border: 1px;
  background-color: #740303;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
}

.container-promocoes button:hover {
  background-color: rgba(116, 3, 3, 0.7);
}

/* Produtos */

.section-produtos {
  background-color: #ffffff;
  min-height: 100vh;
  width: 100%;
  padding: 30px;
}

.section-produtos ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style: none;
}

.section-produtos li {
  max-width: 400px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-produtos h2 {
  margin-bottom: 30px;
}

.section-produtos .img-comprar {
  width: 250px;
  height: 200px;
  border-radius: 10px;
  box-shadow: #000 3px 3px 3px;
  transition: transform 200ms ease;
}

.section-produtos li:hover .img-comprar {
  transform: scale(1.1);
}

.section-produtos button {
  margin-top: 30px;
  padding: 15px 30px;
  border-radius: 5px;
  border: 1px;
  background-color: #08a82b;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
}

.section-produtos button:hover {
  background-color: #3ed15e;
}

/* Rodapé */

.section-rodape {
  height: 90px;
  width: 100%;
}

.redes-sociais-container {
  background-color: #740303;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.redes-sociais-container ul {
  list-style: none;
  display: flex;
}

.redes-sociais-container img {
  height: 50px;
  margin: 0 10px;
}
